target
node
node_modules
.classpath
.project
.settings
.tmp
.merge_file*
.sass-cache
.DS_Store
.gradle
build

############
#Directories
############
.idea/libraries
.idea/dictionaries
src/main/webapp/dist

#Files
.idea/workspace.xml
gradle.xml
application.properties
*.iml